body{

    background-repeat: no-repeat;
    background-size: cover;
    background-position: -250px -300px;
    
}
img{
    width: 250px;
    border-radius: 360px;
}
ol{
    color: black;
    font-size: 14px;
}
contenedor{
display: flex;
flex-direction: column;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mydiv{
    position: relative;
    width:auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    background: linear-gradient(150deg, #f1f504,#0b9add,#18fa03);
    background-size: 200% 200%;
    animation: BgGradient 3s ease infinite;
    font-family:  Helvetica;
}
@keyframes BgGradient{
    0%{background-position: 0%,50%;}
    50%{background-position: 100%,50%;}
    100%{background-position: 0%,50%;}
}
.fondoanimado{
  position: initial;
  width:104%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  background: linear-gradient(150deg,  #18fa03,#f1f504, #0b9add);
  background-size: 200% 200%;
  animation: BgGradient2 3s ease infinite;
  font-family:  Helvetica;
}
@keyframes BgGradient2{
  0%{background-position: 0%,50%;}
  50%{background-position: 50%,100%;}
  100%{background-position: 100%,150%;}
}
.fondoanimado2{
  position: relative;
  width:auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  background: linear-gradient(150deg,#f1f504,#0b9add,#18fa03);
  background-size: 200% 200%;
  animation: BgGradient3 3s ease infinite;
  font-family:  Helvetica;
}
@keyframes BgGradient3{
  0%{background-position: 0%,50%;}
  50%{background-position: 50%,100%;}
  100%{background-position: 100%,150%;}
}
.fondoanimado3{
  position: initial;
  width:auto;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  background: linear-gradient(150deg, #18fa03,#f1f504, #0b9add);
  background-size: 200% 200%;
  animation: BgGradient4 3s ease infinite;
  font-family:  Helvetica;
}
@keyframes BgGradient4{
  0%{background-position: 0%,50%;}
  50%{background-position: 50%,100%;}
  100%{background-position: 100%,150%;}
}
.fondoanimado4{
  position: relative;
  width:auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  background: linear-gradient(150deg,#f1f504,#0b9add,#18fa03);
  background-size: 200% 200%;
  animation: BgGradient5 3s ease infinite;
  font-family:  Helvetica;
}
@keyframes BgGradient5{
  0%{background-position: 0%,50%;}
  50%{background-position: 50%,100%;}
  100%{background-position: 100%,150%;}
}
.fondoanimado5{
  position: relative;
  width:auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  background: linear-gradient(150deg,#18fa03,#f1f504, #0b9add);
  background-size: 200% 200%;
  animation: BgGradient6 3s ease infinite;
  font-family:  Helvetica;
}
@keyframes BgGradient6{
  0%{background-position: 0%,50%;}
  50%{background-position: 50%,100%;}
  100%{background-position: 100%,150%;}
}
  /* Navbar container */
  .navbar {
    width: 100%;
    padding-left:  100%;
    overflow: hidden;
    font-family: Arial;
    padding:0;
    margin: 0;
  }
/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(8, 8, 8);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
}
 /* The dropdown container */
 .dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: rgb(7, 7, 7);
  padding: 14px 16px;
  background-color: inherit;
  font-family:  Helvetica; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #76ecec;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #111111;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}





