body{
    background-image: url(/universo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -250px -300px;
}
img{
    width: 250px;
    border-radius: 360px;
}
ol{
    color: aqua;
    font-size: 14px;
}
contenedor{
display: flex;
flex-direction: column;
}
